{% load static %}

<!DOCTYPE html>
<html lang="ru">
    {% block head %}
        <head>
            <meta charset="UTF-8">
            <title>
                {% block title %}
                    {% if title %}
                        {{ title|title }}
                    {% else %}
                    Panorama View
                    {% endif %}
                {% endblock %}
            </title>

            {% block css %}
                <link rel="stylesheet" href="{% static 'css/index.css' %}">
            {% endblock %}

            {% block js %}
            {% endblock %}

        </head>
    {% endblock %}

    {% block body %}
        <body>
            {% block page_scripts %}
            {% endblock %}
        </body>
    {% endblock %}
</html>