.title{
  margin: 40px 0;
  text-align:center;
}
.header{
  padding: 1.25rem;
  border: 1px solid #dee2e6;
  background: #ffffff;
  color: #495057;
  display: flex;
  justify-content: space-between;
}
.feedbackList div.header{
  margin-top:20px
}