.achievement {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.knob {
	path {
		&:hover {
			fill: none;
		}
	}
}

.rating_total {
	display: grid;
	row-gap: 16px;
	column-gap: 30px;
	grid-template-columns: 1fr 1fr 1fr;
}